body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; 
  background-color: 	hsl(215, 28%, 14%);
  color: hsl(0, 0%, 86%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: hsl(0, 0%, 55%);
}

.main {
  /*padding: 0rem 1rem 1rem 1rem;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: calc(100vw - 14px);
  padding: 7px 7px;
  border-bottom: 1px solid rgba(0, 0, 0 ,0.3);
}

.print-load {
  height: 211px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.template-picker {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.settings-button {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.preview {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

.image-wrapper {
  width: 90vw;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview img {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.6);
  border-radius: 11px;
}

.print {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.controlls {
  width: 22%;
}

.template-info {
  position: absolute;
  z-index: -1;
  font-size: 12px;
  top: 48px;
  left: 11px;
  opacity: .5;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.settings {
  width: 100%;
  height: 232px;
  overflow-y: scroll;
  background-color: 	hsl(215, 28%, 14%);
}

.settings table {
  width: 100%;
}

.settings td {
  /*padding: 1.2rem;*/
  height: 4rem;
}

.settings table, tr, td {
  border: 1px solid rgba(0, 0, 0 ,0.3);
  border-collapse: collapse;
}
.bottom {
  width: 94.8%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  opacity: .2;
}

.bottom-middle {
  margin-left: 1rem;
  margin-right: 1rem;
}

.image-error {
  width: 26%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dev-tools {
  position: absolute;
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0 ,0.9);
  z-index: 1000;
}

.history {
  height: 6.3rem;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #FFF;
  font-size: 13px;
}

.ReactCollapse--collapse {
  width: 100vw;
  transition: height 200ms;
}

.history p {
  margin: 0px;
}

.loading {
  color: #03b6fc;
}

.bad {
  color: red;
}

.good {
  color: greenyellow;
}

  /*https://stackoverflow.com/questions/924916/is-there-a-way-to-make-a-div-unselectable*/
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}